<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Jogo das Palavras</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="jogo-palavras-flask/static/img/" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='img/site.webmanifest') }}">
</head>
<body>
    <div class="container">
        <h1>Bem-vindo ao Jogo das Palavras!</h1>
        <form method="POST">
            <label>Digite os nomes dos jogadores separados por vírgula:</label>
            <br>
            <input type="text" name="jogadores" placeholder="Ex: Ana, João, Maria" required style="margin-top:10px;">
            <button type="submit">Começar</button>
        </form>
    </div>
</body>
</html>
